<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
      
      <div class="rowfluid">
        <div class="span2">
          <div class="navbar navbar-static-top">
            <ul class="nav">
              <li class="active">
                <a href="/">home</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="span10">
          {{ content }}
        </div>
      </div>
    </div> <!-- /container -->

  </body>
</html>
