<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
      
      <div class="rowfluid">
        <div class="span2">
          <div class="">
            <ul class="">
              <li class="">
                <a href="/">home</a>
              </li>
              <li>
                <a href="http://twitter.com/matt_condie">twitter</a>
              </li>
              <li>
                <a href="http://feeds.feedburner.com/AlphaBitSoup">rss</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="span10">
          <div class="home">
  <h1>Alpha Bit Soup</h1>
  <h3>Programming and Business in One Delightful Blend</h4>
          {{ content }}
          </div>
        </div>
      </div>
    </div> <!-- /container -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42143691-1', 'alphabitsoup.net');
      ga('send', 'pageview');

    </script>
  </body>
</html>
